<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Centro de Ayuda</title>
    <!-- Theme -->
    <link href="../css/theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
  </head>

  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top nav-home smaller">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>

          <a class="navbar-brand" href="../">
            <img src="../img/logo-white.png">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="menu">          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#registro">Registrarme</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login">Entrar</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="ayudantee.html">Sobre Ayudantee</a></li>
                <li><a href="politicas.html">Políticas de Uso</a></li>
                <li><a href="terminos.html">Términos del Servicio</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="centro_ayuda.html">Centro de Ayuda</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- FIN HEADER -->

    <!-- PAGE -->
    <section class="container page">
      <div class="row">
        <div class="col-xs-12 title-page">
          <h3>Centro de Ayuda</h3>
        </div>
        
        <div class="col-xs-12 col-sm-9">
          <p class="lead">
            Revisa nuestro listado de preguntas para resolver alguna duda y aprender como funciona ayudantee.
            Si no tenemos una pregunta que responda tu duda, escríbenos y te contactaremos a la brevedad!
          </p>  

          <h4>Primer grupo de preguntas</h4>

          <div class="panel-group" id="set-preguntas-uno" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#set-preguntas-uno" href="#pregunta-uno" aria-expanded="true" aria-controls="pregunta-uno">
                    Pregunta Uno
                  </a>
                </h4>
              </div>
              <div id="pregunta-uno" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#set-preguntas-uno" href="#pregunta-dos" aria-expanded="false" aria-controls="pregunta-dos">
                    Pregunta Dos
                  </a>
                </h4>
              </div>
              <div id="pregunta-dos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#set-preguntas-uno" href="#pregunta-tres" aria-expanded="false" aria-controls="pregunta-tres">
                    Pregunta Tres
                  </a>
                </h4>
              </div>
              <div id="pregunta-tres" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>

          <h4>Segundo grupo de preguntas</h4>

          <div class="panel-group" id="set-preguntas-dos" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#set-preguntas-dos" href="#pregunta-cuatro" aria-expanded="true" aria-controls="pregunta-cuatro">
                    Pregunta Uno
                  </a>
                </h4>
              </div>
              <div id="pregunta-cuatro" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#set-preguntas-dos" href="#pregunta-cinco" aria-expanded="false" aria-controls="pregunta-cinco">
                    Pregunta Dos
                  </a>
                </h4>
              </div>
              <div id="pregunta-cinco" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#set-preguntas-dos" href="#pregunta-seis" aria-expanded="false" aria-controls="pregunta-seis">
                    Pregunta Tres
                  </a>
                </h4>
              </div>
              <div id="pregunta-seis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default p30">
            <h4 class="m0 p30bottom">¿Necesitas contáctarnos? Escríbenos</h4>
            
            <form>
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre">
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
              
              <div class="form-group">
                <label>Asunto</label>
                <input type="text" class="form-control" placeholder="Asunto">
              </div>

              <div class="form-group">
                <label>Mensaje</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"> Enviarme una copia
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="sidebar">
            <img src="../img/isotipo-dark.png">
            <p class="lead">
              ¿Eres ayudante?<br>
              Tenemos una oferta para ti
            </p>

            <a href="../" class="btn btn-secondary">Regístrate</a>
          </div>
        </div>
      </div>
    </section>
    <!-- FIN PAGE -->    

    <!-- FOOTER HOME -->
    <footer class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="footer">
            <li>
              <a href="terminos.html">Términos del servicio</a>
            </li>

            <li>
              <a href="politicas.html">Políticas de Uso</a>
            </li>

            <li>
              <a href="ayudantee.html">Sobre Ayudantee</a>
            </li>

            <li>
              <a href="centro_ayuda.html">Centro de Ayuda</a>
            </li>

            <li>
              <a href="blog.html">Blog</a>
            </li>

            <li>Ayudantee 2016.</li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- FIN FOOTER HOME -->

    <!-- jQuery (requerido)-->
    <script src="../js/jquery.min.js"></script>
    <!-- Bootstrap plugins -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>    
  </body>
</html>