<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Políticas de Uso</title>
    <!-- Theme -->
    <link href="../css/theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
  </head>

  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top nav-home smaller">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>

          <a class="navbar-brand" href="../">
            <img src="../img/logo-white.png">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="menu">          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#registro">Registrarme</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login">Entrar</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="ayudantee.html">Sobre Ayudantee</a></li>
                <li><a href="politicas.html">Políticas de Uso</a></li>
                <li><a href="terminos.html">Términos del Servicio</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="centro_ayuda.html">Centro de Ayuda</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- FIN HEADER -->

    <!-- PAGE -->
    <section class="container page">
      <div class="row">
        <div class="col-xs-12 title-page">
          <h3>Recuperar contraseña</h3>
        </div>
        
        <div class="col-xs-12 col-sm-6 p30">
          <p class="lead">Si has olvidado tu contraseña, Ingresa tu correo y te enviaremos un link para recuperarla.</p>

          <div class="form-group">              
            <div class="input-group">
              <input type="text" class="form-control" placeholder="email...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Enviar</button>
              </span>
            </div>
          </div>

          <!-- SUCCESS RECOVERY
          <p class="lead">
            <i class="fa fa-check green"></i>
            Se ha enviado un correo a mail@ejemplo.com
          </p> 
          -->

          <!-- ERROR RECOVERY
          <p class="lead">
            <i class="fa fa-close red"></i>
            Ha ocurrido un error al enviar el correo, intentalo nuevamente
          </p>
          -->
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="sidebar">
            <img src="../img/isotipo-dark.png">
            <p class="lead">
              En Ayudantee, mejora tu rendimiento academico
            </p>

            <a href="../" class="btn btn-secondary">Regístrate</a>
          </div>
        </div>
      </div>
    </section>
    <!-- FIN PAGE -->    

    <!-- FOOTER HOME -->
    <footer class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="footer">
            <li><a href="terminos.html">Términos del servicio</a></li>
            <li><a href="politicas.html">Políticas de Uso</a></li>
            <li><a href="ayudantee.html">Sobre Ayudantee</a></li>
            <li><a href="centro_ayuda.html">Centro de Ayuda</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li>Ayudantee 2016.</li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- FIN FOOTER HOME -->

    <!-- jQuery (requerido)-->
    <script src="../js/jquery.min.js"></script>
    <!-- Bootstrap plugins -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>    
  </body>
</html>