<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aula</title>
    <!-- Theme -->
    <link href="../css/theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/font-awesome-4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../fontello/css/specials-icons.css">
  </head>

  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top nav-home smaller">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>

          <a class="navbar-brand" href="../">
            <img src="../img/logo-white.png">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="menu">          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#registro">Registrarme</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login">Entrar</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="ayudantee.html">Sobre Ayudantee</a></li>
                <li><a href="politicas.html">Políticas de Uso</a></li>
                <li><a href="terminos.html">Términos del Servicio</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="centro_ayuda.html">Centro de Ayuda</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- FIN HEADER -->

    <!-- PAGE -->
    <section class="container page">
      <div class="row">        
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 p50top p50bottom">
              <h3 class="text-center">Ingresa tu código de acceso</h3>
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Código...">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Ingresar al aula</button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="sidebar codigo-aula-box">
            <h1><i class="fa icon-screen fa-lg"></i></h1>
            <h4>Comparte pantalla</h4>
            <p>
              Puedes ver y mostrar la pantalla de tu ordenador (plugin requerido)
            </p>

            <a href="../" class="btn btn-secondary">Instalar Plugin</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="sidebar codigo-aula-box">
            <h1><i class="fa fa-paint-brush fa-lg"></i></h1>
            <h4>Pizarra Virtual</h4>
            <p>
              Puedes editar de forma colaborativa estudiante <i class="fa fa-arrows-h"></i> maestro, con herramientas fáciles de usar.
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="sidebar codigo-aula-box">
            <h1><i class='fa fa-video-camera'></i></h1>
            <h4>Video conferencia</h4>
            <p>
              Puedes usar video conferencia, chat, intercambio de archivos sin instalar nada en tú ordenador. <small>Asegurate de tener la ultima versión de Chrome instalada.</small>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- FIN PAGE -->    

    <!-- FOOTER HOME -->
    <footer class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="footer">
            <li>
              <a href="terminos.html">Términos del servicio</a>
            </li>

            <li>
              <a href="politicas.html">Políticas de Uso</a>
            </li>

            <li>
              <a href="ayudantee.html">Sobre Ayudantee</a>
            </li>

            <li>
              <a href="centro_ayuda.html">Centro de Ayuda</a>
            </li>

            <li>
              <a href="blog.html">Blog</a>
            </li>

            <li>Ayudantee 2016.</li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- FIN FOOTER HOME -->

    <!-- jQuery (requerido)-->
    <script src="../js/jquery.min.js"></script>
    <!-- Bootstrap plugins -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/bootstrap-select.min.js"></script>    
  </body>
</html>